In [108]:
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import pyautogui

In [109]:
from datetime import date
from tkinter import ttk
import tkinter as tk
from tkinter import *
import pandas as pd

In [ ]:
Hallo Leute groß und klein.

In [110]:
pd.options.display.float_format = '${:,.2f}'.format

In [111]:
df = pd.read_excel("C:/Users/ernaa/OneDrive/Desktop/Wochenprojekt/Aufgabe 2 - Preisinformation.xlsx") 
df.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Bundesland,Kostenfaktor,NaN,Stadt vs Land,Kostenfaktor,NaN,Weitere Kostenfaktoren,Preis,Einheit
2,NaN,Baden-Württemberg,$1.50,NaN,Land,1,NaN,QM-Grundstück,160,pro m²
3,NaN,Bayern,$1.70,NaN,Stadt,2,NaN,QM-Wohnfläche,2500,pro m²
4,NaN,Berlin,$2.10,NaN,NaN,NaN,NaN,Geplant von Architekt,20,Aufschlag in %

In [112]:
df_Bundesland=df.iloc[2:,1:3].copy()
df_Bundesland.rename(columns={"Unnamed: 1":"Bundesland","Unnamed: 2":"Kostenfaktor"},inplace=True)
df_Bundesland.set_index("Bundesland",inplace=True)

In [113]:
df_Bundesland

                       Kostenfaktor
Bundesland
Baden-Württemberg             $1.50
Bayern                        $1.70
Berlin                        $2.10
Brandenburg                   $1.10
Bremen                        $1.20
Hamburg                       $2.50
Hessen                        $1.30
Mecklenburg-Vorpommern        $0.90
Niedersachsen                     1
Nordrhein-Westfalen           $1.10
Rheinland-Pfalz                   1
Saarland                      $0.70
Sachsen                       $0.70
Sachsen-Anhalt                $0.60
Schleswig-Holstein            $1.40
Thüringen                     $0.60

In [114]:
df_StadtLand=df.iloc[2:4,4:6].copy()
df_StadtLand.rename(columns={"Unnamed: 4":"Stadt vs Land","Unnamed: 5":"Kostenfaktor"},inplace=True)
df_StadtLand.set_index("Stadt vs Land",inplace=True)

In [115]:
df_StadtLand

              Kostenfaktor
Stadt vs Land
Land                     1
Stadt                    2

In [116]:
df_Ausstattung=df.iloc[6:11,4:6].copy()
df_Ausstattung.rename(columns={"Unnamed: 4":"Ausstattung","Unnamed: 5":"Kostenfaktor"},inplace=True)
df_Ausstattung.set_index("Ausstattung",inplace=True)

In [117]:
df_Ausstattung

                   Kostenfaktor
Ausstattung
Rohbau                    $0.50
Sanierungsbedarf          $0.80
Renovierungsbedarf        $0.90
Einfach                       1
Gehoben                       2

In [118]:
df_Hausart=df.iloc[13:16,4:6].copy()
df_Hausart.rename(columns={"Unnamed: 4":"Hausart","Unnamed: 5":"Kostenfaktor"},inplace=True)
df_Hausart.set_index("Hausart",inplace=True)

In [119]:
df_Hausart

                 Kostenfaktor
Hausart
Einfamilienhaus             1
Doppelhaushälfte        $0.80
Mehrfamilienhaus        $0.70

In [120]:
df_Kostenfaktoren=df.iloc[2:8,7:10].copy()
df_Kostenfaktoren.rename(columns={"Unnamed: 7":"Weitere Kostenfaktoren","Unnamed: 8":"Preis","Unnamed: 9":"Einheit"},inplace=True)
df_Kostenfaktoren.set_index("Weitere Kostenfaktoren",inplace=True)

In [121]:
df_Kostenfaktoren

                       Preis                    Einheit
Weitere Kostenfaktoren
QM-Grundstück            160                     pro m²
QM-Wohnfläche           2500                     pro m²
Geplant von Architekt     20             Aufschlag in %
Makler                    20             Aufschlag in %
Denkmalschutz             25           Reduzierung in %
Baujahr                $0.10  Reduzierung in % pro Jahr

# Eingabefenster für die Imobilienbewertung

In [122]:
#Erstellung des Fensters
window = tk.Tk()
#Größe des Fensters
window.geometry("600x600")
#Farbe des Fensters
bg="#c6e2ff"
window.configure(bg="#c6e2ff")
#Name des Fensters
window.title("Imobilienbewertung")
# Kopf- und Fusslabel
kopf_lbl=tk.Label(window,text="Ihre Imobilienbewertung",font=("Helvetica",25,["bold","underline"]),fg="#005aff",bg="#c6e2ff")
# Eingabe Label
grundstueck_lbl=tk.Label(window, text="Wie gross ist das Grundstück in m²?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
wohnflaeche_lbl=tk.Label(window, text="Wie gross ist die Wohnfläche in m²?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
architekt_lbl=tk.Label(window, text="Handelt es sich um ein Architektenhaus?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
makler_lbl=tk.Label(window, text="Soll das Haus von einem Makler verkauft werden?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
denkmalsch_lbl=tk.Label(window, text="Steht das Haus ganz oder teilweise unter Denkmalschutz?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
baujar_lbl=tk.Label(window, text="In welchem Jahr wurde das Haus gebaut?", font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
wo_lbl=tk.Label(window, text="Wo befindet sich das Haus?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
ausstattung_lbl=tk.Label(window, text="Zustand der Immobilie.",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
hausart_lbl=tk.Label(window, text="Welche Hausart hat die Immobilie?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
bundesland_lbl=tk.Label(window, text="in welchem Bundesland steht das Haus?",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")
ausgabe_lbl=tk.Label(window,text="Der zu erwartende Verkaufpreis:",font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")

In [123]:
# Textfelder
grundstueck_txt=tk.Entry(window,font=("Helvetica",12)) #für Grundstückfläche
wohnflaeche_txt=tk.Entry(window,font=("Helvetica",12)) #für Wohnläche
baujahr_txt=tk.Entry(window,font=("Helvetica",12)) # Eingabe des Baujahres

In [124]:
# Listen zu Eingaben
bundesland_lst=["Baden-Württemberg","Bayern","Berlin","Brandenburg","Bremen","Hamburg","Hessen","Mecklenburg-Vorpommern",
            "Niedersachsen","Nordrhein-Westfalen","Rheinland-Pfalz","Saarland","Sachsen","Sachsen-Anhalt",
            "Schleswig-Holstein","Thüringen"]
wo_lst=["Stadt","Land"]
ausstattung_lst=["Rohbau","Sanierungsbedarf","Renovierungsbedarf","Einfach","Gehoben"]
hausart_lst=["Einfamilienhaus","Doppelhaushälfte","Mehrfamilienhaus"]
architekt_lst=["Ja","Nein"]
makler_lst=["Ja","Nein"]
denkmalsch_lst=["Ja","Nein"]

# Eingaben
architekt_cobox = ttk.Combobox(window,values=architekt_lst)
makler_cobox = ttk.Combobox(window,values=makler_lst)
denkmalsch_cobox = ttk.Combobox(window,values=denkmalsch_lst)
wo_cobox = ttk.Combobox(window,values=wo_lst)
ausstattung_cobox = ttk.Combobox(window,values=ausstattung_lst)
hausart_cobox = ttk.Combobox(window,values=hausart_lst)
bundesland_cobox = ttk.Combobox(window,values=bundesland_lst)

# Ausgabe
ausgabe = tk.Label(window,font=("Helvetica",12,'bold'),fg="#005aff",bg="#c6e2ff")

In [129]:
def rechner():
    try:       
        grundstueck_n=int(grundstueck_txt.get())
        wohnflaeche_n=int(wohnflaeche_txt.get())
        baujahr_n=int(baujahr_txt.get())
        
        architekt=architekt_cobox.get()
        makler=makler_cobox.get()
        denkmalsch=denkmalsch_cobox.get()
        wo=wo_cobox.get()
        ausstattung=ausstattung_cobox.get()
        hausart=hausart_cobox.get()
        bundesland=bundesland_cobox.get()
        
        
        
        year_now=int(date.today().strftime("%Y"))
        baujahr_ag=1 if baujahr_n == year_now else (year_now-baujahr_n)*(0.1/100)
    
        architekt_ag=1+df_Kostenfaktoren.loc["Geplant von Architekt"][0]/100 if architekt =="Ja" else 1
        makler_ag=1+df_Kostenfaktoren.loc["Makler"][0]/100 if makler =="Ja" else 1
        denkmalsch_ag=1-df_Kostenfaktoren.loc["Denkmalschutz"][0]/100 if denkmalsch =="Ja" else 1
        
        
        
        if wo == "Stadt":
            wo_ag=df_StadtLand.loc["Stadt"][0]
        else:
            wo_ag=df_StadtLand.loc["Land"][0]
    
        ausstattung_ag=df_Ausstattung.loc[ausstattung][0]
        hausart_ag=df_Hausart.loc[hausart][0]
        bundesland_ag=df_Bundesland.loc[bundesland][0]
        grundstueck_ag=df_Kostenfaktoren.loc["QM-Grundstück"][0]
        wohnflaeche_ag=df_Kostenfaktoren.loc["QM-Wohnfläche"][0]
    
    except:
        pass
    
        
    
    berechnung=(grundstueck_n*grundstueck_ag + wohnflaeche_n*wohnflaeche_ag)*architekt_ag*makler_ag*denkmalsch_ag*baujahr_ag
                
    message = str(round(berechnung,3))+" €"
    ausgabe.configure(text=message)

In [126]:
button1=tk.Button(window,text="Berechnung",command=rechner)
button2=tk.Button(window,text="Beenden",command=window.destroy)

In [127]:
# Kopf
kopf_lbl.pack()
# Grundstück
grundstueck_lbl.pack()#.place(x=20,y=50)
grundstueck_txt.pack()#.place(x=320,y=50)
# Wohnfläche
wohnflaeche_lbl.pack()#.place(x=20,y=80)
wohnflaeche_txt.pack()#.place(x=320,y=80)
# Baujahr
baujar_lbl.pack()
baujahr_txt.pack()
# Architektenhaus
architekt_lbl.pack()
architekt_cobox.pack()
# Makler
makler_lbl.pack()
makler_cobox.pack()
# Denkmalschutz
denkmalsch_lbl.pack()
denkmalsch_cobox.pack()
# Land oder Stadt
wo_lbl.pack()
wo_cobox.pack()
# Ausstattung
ausstattung_lbl.pack()
ausstattung_cobox.pack()
# Hausart
hausart_lbl.pack()
hausart_cobox.pack()
# Bundesland
bundesland_lbl.pack()
bundesland_cobox.pack()
# Button
button1.pack()
button2.pack(side=RIGHT, padx=15, pady=15)
# Ausgbe
ausgabe_lbl.pack()
ausgabe.pack()

In [128]:
#Ausführung
window.mainloop()